:root{
    --azul-dnc: #0C70F2;
    --preto-dnc: #303030;
    --cinza-hover: #C9C9C9;

    --fonte-padrao: 'Inter';
}

body{
    margin: 0px;
    padding: 0px;
    background: linear-gradient(180deg, rgba(12, 112, 242, 0.50) 30%, rgba(12, 112, 242, 0.00) 40%), #303030;
    background-repeat: no-repeat;
}

/* Navigation main menu */
#mainMenu{
    width: 100%;
    height: 100px;
    border: 1px solid black;
    background-color: #303030;
    display: flex;
    justify-content: space-between;
    }

    #menu{
        display: flex;
        width: 55%;
        justify-content: space-around;
        align-items: center;
    }

    #mainMenu div a{
        font-family: 'Inter';
        font-size: 20px;
        font-weight: 600;
        color: #FFFFFF;
        text-decoration: none;
    }

    #mainMenu button{
        margin-right: 5%;
        background: #0C70F2;
        font-family: 'Inter';
        font-size: 15px;
        font-weight: 600;
        line-height: 24px;
        text-align: center;
        color: #FFFFFF;

        width: 80px;
        height: 39px;

        flex-shrink: 0;
        margin-top: 30px;

        box-shadow: 3px 2px 4px 0px rgba(12, 112, 242, 0.25);
        cursor: pointer;
    }

    #mainMenu div a:hover{
        color: #dbd9d9;
    }

    header h1{
        color: #FFF;
        font-size: 50px;
        font-family: Inter;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        text-align: center;
    }

    header h2{
        color: #FFF;
        text-align: center;
        font-size: 30px;
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 100px;
    }
    span{
        background-color: black;
    }

    section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin-top: 100px;
        margin-bottom: 100px;
    }

    form{
        color: #FFF;
        text-align: left;
        font-size: 20px;
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .placeholder{
        width: 400px;
        height: 45px;
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.90);
        margin: 10px 0px 20px 0px;
        padding-left: 10px;
    }
    .formGroup{
        display: flex;
        flex-direction: column;
    }

    #checkboxItems{
        color: #FFF;
        text-align: left;
        font-size: 19px;
        font-family: Inter;
        font-style: normal;
        font-weight: 500px;
        line-height: normal;
        margin-bottom: 40px;
    }

    #registerButton{
        width: 400px;
        height: 50px;
        border-radius: 10px;
        background: rgba(12, 112, 242, 0.90);
        color: white;
        box-shadow: 0px 6px 4px 0px rgba(12, 112, 242, 0.25);
        margin: 90px 0px 20px 10px;
        cursor: pointer;
    }

    input[type="checkbox"]{
        transform: scale(1.5);
        margin-top: 10px;
    }

    footer{
        width: 100%;
        background-color: var(--azul-dnc);
    }

    .line1{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }


    footer ul{
        list-style: none;
        margin: 0px;
        padding: 0px;
    }

    footer nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 300px;
    }

    footer h5{
        text-align: center;
        color: white;
        font-weight: 800;
        font-size: 18px;
        font-family: var(--fonte-padrao);
        
        background-color: var(--preto-dnc);
        border-radius: 10px;
        padding: 15px 15px 15px 15px;
    }

    footer ul li{
        text-align: center;
        color: white;
        font-size: 18px;
        font-family: var(--fonte-padrao);
        margin: 20px 0px 20px 0px;
    }

    a{
        color: white;
        text-decoration: none;
    }


    footer ul li a:hover{
        color: var(--cinza-hover);
    }

    .address{
        font-family: var(--fonte-padrao);
        color: white;
        width: 25%;
    }

    .line2{
        text-align: center;
        color: white;
        font-size: 18px;
        font-family: var(--fonte-padrao);
        margin: 130px 50px 0px 0px;
        padding-bottom: 30px;
    }
    
    .line2 a:hover{
        color: var(--cinza-hover);
    }

    @media only screen and (max-width: 600px){
        #mainMenu{
            display: flex;
            flex-direction: column;
            height: auto;
        }

        #menu{
            flex-direction: column;
            width: 100%;
        }

        #menu a{
            display: flex;
            align-items: center;
            height: 50px;

        }

        #mainMenu button{
            width: 100%;
            text-align: center;
        }

        /* Section */

        section h1{
            font-size: 40px;
        }

        section h2{
            font-size: 20px;
            padding-left: 10px;
            padding-right: 10px;
        }

        form{
            width: 95%;
            font-size: 18px;
        }

        .placeholder{
            width: 95%;
        }

        #checkboxItems{
            font-size: 16px;
        }

        #registerButton{
            width: 100%;
            margin: 40px 0px 0px 0px;
            font-size: 20px;

        }

        /* Footer */
        
        h5{
            margin-bottom: 10px;
        }

        .line1{
            flex-direction: column;
        }

        .address{
            width: 90%;
            text-align: center;
            margin-top: 50px;
        }

        .line2{
            text-align: center;
            margin: 30px 0px 0px 0px;
        }
    }